/* to avoid the default margin given by browser */
body{
    margin: 0;
    padding: 0;
}

/* container sets the direction */
.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    filter:contrast(80%);
}

/* left and right are the 2 sections which are divided we are using 50% each to divide them*/
.left, .right{
    padding:2rem;
    margin: 1rem;
    width: 50%;
}


/* handling left */
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left img{
    padding: 1rem;
    margin-top: 1rem;
    height: 80%;
    width: 80%;
}

.SelectedIcon{
    /* handling uploaded image */
    position: relative;
    top: -6rem;
    height: 4rem;
    width: 6rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#displayLogo{
    object-fit: contain;
    object-position: center;
    height: 80%;
    width: 80%;
}

/* handling right */
.right{
    justify-content: start;
}

.uploader{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color: white;
    height: 2rem;
    padding: 0.5rem;
    width: 25rem;
    cursor: pointer;
}

.uploaderIcon{
    position: relative;
    top:0rem;
    right: 8rem;
}

/* .right button{
        padding: 0.5rem;
        width: 25rem;
        border-width: 0;
        height: 3rem;
        cursor: pointer;
} */


/* circle boxes */
.color-boxes{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border-width: 1rem solid black;
    margin: 1rem 0.5rem 1rem 0rem;
    cursor: pointer;
}


/* animation for the loader and showing umbrella*/
.loader{
    width:20%;
    animation: spin 2.5s linear infinite ;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(360deg);
    }
    60%{
        transform: rotate(400deg);
    }
    100%{
        transform: rotate(760deg);
    }

}

.showUmbrella{
    opacity: 0;
    animation : umbrellaChange 2s ease-in-out forwards;
}

@keyframes umbrellaChange {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* making generic class names  */
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center; 
}

h1{
    font-size: 3.5rem;
    padding-bottom: 1rem;
    margin: 0;
}
h2, p ,small{
    margin: 0;
    padding-top: 0.5rem;
}

.bg-blue-100{
    background-color: #e5ecf0;
}

.bg-yellow-100{
    background-color: rgb(255, 255, 239);
}


.bg-pink-100{
    background-color: rgb(254, 250, 251);
}

.bg-blue{
    background-color: #37a6cf;
}
.bg-blue-active{
    background-color: #37a6cf;
    border: 5px solid #a5ebeb;
    transform: translate(0px, -4px);
}

.bg-yellow{
    background-color: #cead47;
}
.bg-yellow-active{
    background-color: #cead47;
    border: 5px solid #f5ff61;
    transform: translate(0px, -4px);
}

.bg-pink{
    background-color: #c53a84;
}
.bg-pink-active{
    background-color: #c53a84;
    border: 5px solid #ffb2f5;
    transform: translate(0px, -4px);
}


.svg-yellow path{
    fill: #cead47;
}
.svg-pink path{
    fill: #c53a84;
}
.svg-blue path{
    fill: #37a6cf;
}

.svg-white path{
    fill:#ffffffbf
}

/* screen sizes  */
@media only screen and (max-width:1090px) {
    .uploader{
        width: 15rem;
    }
    h1{
        font-size: 2rem;
    }
    .right, .left{
        padding:0;
        margin:0;
    }
    .SelectedIcon{
        height: 2.5rem;
        width: 6rem;
        top: -5rem;
        overflow: visible;
    }
    .uploaderIcon{
        right: 3.5rem;
    }
}
/* @media only screen and (max-width:1090px) {
    .uploader{
        width: 15rem;
    }
    h1{
        font-size: 2rem;
    }
    .uploaderIcon{
        right: 4rem;
    }
    .SelectedIcon{
        width: 4rem;
    }

} */
/* tablets and phones  */
@media only screen and (max-width:768px) {
    .uploaderIcon{
        right: 3rem;
    }
    .container{
        flex-direction: column;
    }
    .left,.right{
        height: 50%;
    }
    .uploader{
        width: 15rem;
    }
    h1{
        font-size: 1.5rem;
    }
    h2{
        margin: 0;
        font-size: 1rem;
    }
    p{
        font-size: 0.7rem;
    }
    small{
        font-size: 0.6rem;
    }
    .left img{
        height: 50%;
        width: 80%;
    }
    .SelectedIcon{
        height: 2rem;
        width: 3rem;
        top: -4rem;
        overflow: visible;
    }
    #displayLogo {
        object-fit: contain;
        object-position: center;
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width:430px) {
    .uploaderIcon{
        right: 3rem;
    }
    .uploader{
        width: 12rem;
    }
    h1{
        font-size: 1rem;
    }
    h2{
        margin: 0;
        font-size: 0.8rem;
    }
    p{
        font-size: 0.7rem;
    }
    small{
        font-size: 0.6rem;
    }
    .left img{
        height: 45%;
        width: 100%;
    }
    .SelectedIcon{
        height: 2rem;
        width: 3rem;
        top: -4rem;
    }
    #displayLogo {
        object-fit: contain;
        object-position: center;
        height: 100%;
        width: 100%;
    }
}

